body {
    font-family: 'Bitter', serif;
    margin: 0;
}

/* Header Section */

.header-section {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    padding-top: 125px;
}
.left-section, .right-section {
    width: 40%;
    float: left;
}
.header-section .left-section {
    margin-left: 15%;
    margin-top: 8%;
}
h1.unbold-h1 {
    font-weight: 400;
    margin: 0;
}
h1 {
    font-size: 45px;
    font-weight: 700;
}
p {
    line-height: 1.5em;
    text-align: justify;
}
img {
    width: 80%;
}
.colored-style {
    color: #EC4C7A;
    margin-top: 10px;
    margin-bottom: 50px;
}
.linked-button {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    color: white;
    background-image: linear-gradient(90deg, #EC4F92, #ED4B73);
    border-radius: 5px;
}

/* Biography Section */

.biography-section {
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 780px;
    padding: 50px 0;
}
.biography-section .left-section {
    margin-left: 7%;
}
.biography-section .right-section {
    margin-top: 10%;
}
.biography-section h1 {
    margin-bottom: 40px;
}